:root {
  --background-color: #f7f7f7; 
  --font-color: #777
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: avenir next;
  color: var(--font-color);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
}

.header {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: .5rem;
}

.caption {
  font-size: .9rem;
  width: 27rem;
  margin-bottom: 1.5rem;
}

#game {
  border: 1px solid var(--font-color);
}

.github {
  margin-top: 3rem;
  font-size: 1.25rem;
}

.github a {
  color: var(--font-color);
}

.github a:hover {
  color: rgb(167, 167, 167);
}